{{>organisms-header}}

{{#caseStudy}}
	{{>organisms-hero-banner-blog-detail }}
	{{>organisms-case-study-story }}
	{{>organisms-case-study-solution }}
	{{>organisms-more-cs }}
{{/caseStudy}}


{{>organisms-footer}}
 