@mixin btn() {
	font: rem(12px) MuseoSansNormal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: rem(0.8px);
	text-align: center;
	text-transform: uppercase;
	color: $color-gray-84;
	background-color: $color-white;
	max-width: rem(290px);
	width: 100%;
	height: rem(32px);
	border-radius: rem(4px);
	border: solid rem(1px) $color-gray-84;

	@include media-breakpoint-up(md) {
		max-width: rem(235px);

		&:hover {
			color: $color-gray-70;
		}
	}
}
