/** Page **/

.header {
  position: relative;
  font-family: $font;
  font-size: 12px;
  border-top: 1px solid $base-blue-color;
  border-bottom: 1px solid $base-blue-color;

  .wrapper {
    width: 100%;
    padding: 10px 10px;

    @media (min-width: $desktop-breakpoint) {
      width: $page-width;
      padding: 0;
      margin: 0 auto;
    }
  } 

  .logo {
    float: left;
    width: 130px;

    .logo-container {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .nav-bar { 
    @media (min-width: $desktop-breakpoint) {
      display: block;
      float: left;
      padding-left: 20px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: none;
      position: absolute;
      top: 63px;
      left: 0;
      right: 0;
      z-index: 1000;

      &.show {
        display: block;
      }
    }

  }

  .search-field {
    float: right;

    @media (max-width: $mobile-breakpoint) {
      padding-right: 45px;
    }

    &.full-width {
      @media (max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }

    input {
      width: 100%;
      padding: 10px 40px 7px 0;

      @media (min-width: $desktop-breakpoint) {
        width: 220px;
        padding: 10px 0 0;
      }
    }

    a.search-btn {
      top: 1px;
      right: 0px;

      i.fa {
        font-size: 34px;
      }

      @media (min-width: $desktop-breakpoint) {
        top: 4px;
        right: 0;

        i.fa {
          font-size: 22px;
        }
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 50;
    line-height: 16px;

    span {
      font-size: 12px;
      font-weight: bold;
      display: block;
      line-height: 12px;
    }
  }

} 
