	img{
		width: 100%;
	}
	.banner-content{
		position: absolute;
	    top: 80%;
	    transform: translateY(-60%);
	    background-color: $color-white;
	    padding: 20px;
	    max-width: 55%;
	    h1{
	    	font-size: 2.4rem;
	    	line-height: 2.4rem;
	    	color: $heading-gray;
	    }
	    a{
	    	color: $social-blue;
	    }
	    @media screen and (max-width:767px){
    	    position: relative;
		    top: auto;
		    transform: none;
		    max-width: none;
		    h1{
		    	margin-top: 20px;
		    	font-size: 2rem;
		    }
	    }
	}

