.social-media {
  ul {
  	list-style-type: none;
  	padding-left: 0;
    li {
    	display: inline-block;
      a {
        color: $social-blue;
        margin: 5px 10px;
        border: 2px solid $social-blue;
        border-radius: 50%;
        width: 30px;
  	    height: 30px;
  	    display: inline-block;
  	    text-align: center;
  	    line-height: 1.6;
      }
    }
  }
}
