<div class="search-field {{search.searchWrapperClass}}">
	<input type="text" class="{{search.searchFieldClass}}" placeholder="{{search.searchFieldPlaceholder}}">
	<i class="fa fa-{{search.searchIcon}}"></i>
</div>