{{#blogs}}
	<section class="blogList">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{{>atoms-headings}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="blogs">
						{{#blogLists}}
							{{>molecules-blogList}}
						{{/blogLists}}
					</ul>
				</div>
			</div>
		</div>
	</section>	
{{/blogs}}