{{#caseStudy}}

<div class="cs-story">
  <div class="cs-story-head">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="row">
            {{#caseStudyStory.caseStudyStoryHead}}
            <div class="col-sm-4">
              <div class="cs-story-list">
                <h4>{{title}}</h4>
                <p>{{desc}}</p>
              </div>
            </div>
            {{/caseStudyStory.caseStudyStoryHead}}

            <!-- <div class="col-sm-4">
              <div class="cs-story-list">
                <h4>Services</h4>
                <p>Data, analytics and modeling Strategic mapping</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="cs-story-list">
                <h4>Industry</h4>
                <p>Nonprofit</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cs-story-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h3>{{caseStudyStoryDetail.title}}</h3>
          <p>{{caseStudyStoryDetail.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{/caseStudy}}
