{{#caseStudy}}
<section class="case-studies">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{>atoms-headings}}
			</div>
		</div>
		<div class="row no-gutters">
			{{>molecules-caseStudy}}
		</div>
	</div>
</section>
{{/caseStudy}}