{{#contentBlock}}
<section class="contentBlock">
	<div class="container">
		<div class="row">
			<dov class="col-md-12">
				<p>{{desc}}</p>
				{{>atoms-button-icon}}
			</dov>
		</div>
	</div>
</section>
{{/contentBlock}}