{{#cta}}
	<div class="cta">
		{{>atoms-headings}}
		<p>{{ctaContent}}</p>
		<form action="{{action}}" class="{{formClass}}">
			<div class="row">
				{{>atoms-text-field}}
				<div class="col-md-3">
					{{>atoms-button}}
				</div>

			</div>
		</form>
		{{>atoms-images}}
	</div>
{{/cta}}