{{#paginationBlog}}
	<div class="pagination-wrap">
		<ul>
			<li>Page <i class="fa fa-angle-double-left"></i></li>
			{{#paginationList}}
				<li>
					{{>atoms-links}}
				</li>
			{{/paginationList}}
			<li> <i class="fa fa-angle-double-right"></i></li>
		</ul>
	</div>
{{/paginationBlog}}