<div class="col-md-3 discount-deatil-wrapper" aria-label="{{four-column-text.roleSubhead}}">
	<img src="{{four-column-text.image}}" class="finance-section-img rounded rounded-circle" alt="">
	<div class="col-md content">
		<h3>{{four-column-text.iamgeHead}}</h3>
		<p>{{four-column-text.imageDesc}}</p>
	</div>
</div>