<div class="quote-header">
	{{# goBackHeader }}
  <a href="">
    <i class="far fa-arrow-alt-circle-left"></i><span>Back</span>
  </a>
	<div class="quotecircle">
		{{> molecules-quote-type }}
	</div>
	{{#getQuoteFormHeaderData}}
	<h1>{{ sectionHead }}</h1>
	{{/getQuoteFormHeaderData}}
	{{/ goBackHeader }}
</div>
