{{#search}}
<div class="input-with-icon {{wrapperClass}}">
	<input type="text" class="{{inputClass}}" placeholder="{{inputPlaceholder}}"> 
	<a href="#" class="search-btn">{{>atoms-font-awesome-icon}}</a>  
</div>
{{/search}}