{{# header}}
<div class="header">
  <div class="wrapper">
    <div class="clearfix">
      <ul class="connect visible-desktop">
        <li><a href="#">Get Connected</a></li>
        <li><a href="#">Join us on Facebook</a></li>
      </ul>
    </div>
    <div class="clearfix">
      <div class="logo">
        <a href="/" class="logo-container">
          <img src="../../images/logo.svg" class="logo" alt="Cystinosis United (TM) logo">
        </a>
      </div>
      <div class="nav-bar">
        <ul class="nav-links">
          <li><a href="#">What is cystinosis?</a></li>
          <li class="has-subnav">
            <a href="#">Living with cystinosis</a>
            <i class="fa fa-plus"></i>
            <ul class="sub-nav">
              <li><a href="/living-with-cystinosis">Living with cystinosis overview</a></li>
              <li><a href="/living-with-cystinosis/healthy-tips-to-manage-caregiver-stress">Caring for the caregiver</a></li>
              <li><a href="/living-with-cystinosis/school-and-bullying">School and bullying</a></li>
              <li><a href="/living-with-cystinosis/speaking-up-for-yourself-and-making-healthy-decisions">Advocating
                  for yourself or your child</a></li>
              <li><a href="/living-with-cystinosis/educate-school-staff-about-cystinosis">Educating the educators</a></li>
              <li><a href="/living-with-cystinosis/help-in-the-classroom">Help in the classroom</a></li>
            </ul>
          </li>
          <li class="has-subnav">
            <a href="#">Cystinosis treatment</a>
            <i class="fa fa-plus"></i>
            <ul class="sub-nav">
              <li><a href="/cystinosis-treatment">Cystinosis treatment overview</a></li>
              <li><a href="/cystinosis-treatment/goals-of-managing-cystinosis">Goals of managing cystinosis</a></li>
              <li><a href="/cystinosis-treatment/about-cystinosis-treatments">Know your cystinosis treatments</a></li>
              <li><a href="/cystinosis-treatment/track-your-cystine-levels">Track your cystine levels</a></li>
            </ul>
          </li>
          <li class="has-subnav">
            <a href="#">Cystinosis resources</a>
            <i class="fa fa-plus"></i>
            <ul class="sub-nav">
              <li><a href="/cystinosis-resources-and-support-for-patients">Cystinosis resources</a></li>
              <li><a href="/cystinosis-resources-and-support-for-patients/cystinosis-glossary-of-words">Glossary</a></li>
            </ul>
          </li>
          <li class="visible-mobile"><a href="#">Get Connected</a></li>
          <li class="visible-mobile"><a href="#">Join us on Facebook</a></li>
        </ul>
      </div>
      <div class="hamburger visible-mobile">
        <div class="menu-btn">
            <div class="icon"></div>
        </div>
        <span>MENU</span>
      </div>
      <div class="search-field">
        {{>molecules-search}}
      </div>
      
    </div>
  </div>
</div>
{{/ header}}
