
{{# accountSummaryForm }}
	<section class="full-width account-summary-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-head">{{ sectionTitle }}</h2>


					<div class="account-data-form account-edit-form">
						<form {{# formAttr.attributes }}{{ name }}="{{ value }}" {{/ formAttr.attributes }}>

								{{# formFieldGroups }}
									<fieldset class="form-group">
										<legend class="col-form-label">{{ groupHead }}</legend>
										<p class="summary-text">
											{{# groupSubHead.desc1 }}
												<span>{{ data }}</span>
											{{/ groupSubHead.desc1 }}
											{{# groupSubHead.desc2 }}
												<span>{{ data }}</span>
											{{/ groupSubHead.desc2 }}

											<a aria-label="{{ editAriaLabel }}" href="#" id="text2">{{> atoms-font-awesome-icon }}</a>
										</p>
										<div class="form-edit">
											<div class="row">
												{{# formFields }}
													<div class="form-group {{class}} ">
														<label for="{{ id }}">{{ label }}</label>
														{{# textInput }}
															{{> atoms-text-field}}
                              <div class="help-block with-errors"></div>
														{{/ textInput }}
														{{# selectField }}
															{{> atoms-select-dropdown }}
														{{/ selectField }}
													</div>

												{{/ formFields }}
											</div>
										</div>
									</fieldset>
								{{/ formFieldGroups }}

							<div class="account-data-buttons">
								<div class="buttons">
									<div class="row">
										<div class="col-md-3"></div>
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-6 button1">
													{{# button1}}
														{{> atoms-button:btn-blue }}
													{{/ button1}}
												</div>
												<div class="col-md-6 button2">
													{{# button2}}
														{{> atoms-button }}
													{{/ button2}}
												</div>
											</div>
										</div>
										<div class="col-md-3"></div>
									</div>
								</div>
							</div>
						</form>
					</div>


				</div>
		</div>
	</section>
{{/ accountSummaryForm }}
