<h3 class="foot-head">{{ footerNavSectionHead }}</h3>

<ul class="foot-links">

	{{# footerSubNavList }}
		<li><a class="foot-link" href="{{ url }}">{{ label }}</a></li>
	{{/footerSubNavList}}

</ul>
