<ul class="autocomplete-popup">
  <li><a href="#" data-text="technical"><b>te</b>chnical</a></li>
  <li><a href="#" data-text="testing"><b>te</b>sting</a></li>
  <li><a href="#" data-text="term"><b>te</b>rm</a></li>
  <li><a href="#" data-text="techniques"><b>te</b>chniques</a></li>
</ul>
