<div class="app-download">
	<a href="" aria-label="appStore Download Image">
		<img aria-hidden="true" src="{{ appDownload.appStore }}"
     srcset="{{ appDownload.appStore }} 1x,
             {{ appDownload.appStore@2x }} 2x" alt="appStore Download Image" />
	</a>
	<a href="" aria-label="googlePlay Download Image">
		<img aria-hidden="true" src="{{ appDownload.googlePlay }}"
     srcset="{{ appDownload.googlePlay }} 1x,
             {{ appDownload.googlePlay@2x }} 2x" alt="googlePlay Download Image" />
	</a>
</div>