<div class="articleList">
	<div class="media">
		<img src="{{ articleList.src }}" alt="{{ articleList.alt }}">
		<div class="media-body">
			<h3>{{ articleList.Title }}</h3>
			<p>{{ articleList.desc }}</p>
			<a href="{{ articleList.href }}" aria-label="Read more about {{ articleList.Title }}">Read More...</a>
		</div>
	</div>
</div>
