<section class="full-width bg-dark-blue info-banner">

	<div class="container-fluid">
		{{#infoBanner}}
			<h1>{{ sectionHead }}</h1>
			<h2>{{ sectionSubHead }}</h2>

			{{#description }}
				<p>{{text}}</p>
			{{/description}}

		{{/infoBanner}}
	</div>

</section>