<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="../../css/bootstrap.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/font-awesome.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
    <script type="text/javascript" src="/js/modernizr.min.js"></script>
  </head>

  <body class="{{ bodyClass }}">
