
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/init.js"></script>
  <script type="text/javascript" src="/js/validator.min.js"></script>

  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript" src="/js/video.js"></script>
  <script type="text/javascript" src="/js/validations.js"></script>
  <script type="text/javascript" src="/js/moment.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8jvBMz1ubc3kcW3Ylo9vO_X0RS-CUboA&callback=initMap"></script>

  <!-- Start of LiveChat (www.livechatinc.com) code -->
  <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 9549740;
    (function() {
     var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
     lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
  </script>
  <!-- End of LiveChat code -->
  </body>

</html>
