{{# quoteFormField }}

  <div class="form-inline {{ customClass }}">
    {{#description}}
      <p>{{ desc }}</p>
      {{> atoms-select-dropdown }}
    {{/description}}
    {{#description2}}
      <p>{{ desc }}</p>
    {{/description2}}
  </div>

{{/ quoteFormField }}
